@model cms.web.DTOs.PublishDTO

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>@(Html.Raw(Model != null && Model.Setttings != null && string.IsNullOrEmpty(Model.Setttings.SiteTitle) == false ? Model.Setttings.SiteTitle : "")) @(Html.Raw(Model != null && Model.Page != null && string.IsNullOrEmpty(Model.Page.Title) == false  ? Model.Page.Title : ""))</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@(Html.Raw(Model != null && Model.Page != null && string.IsNullOrEmpty(Model.Page.Description) == false ? Model.Page.Description : ""))">
    <meta name="keywords" content="@(Html.Raw(Model != null && Model.Page != null && string.IsNullOrEmpty(Model.Page.Keywords) == false ? Model.Page.Keywords : ""))">
    <link rel="shortcut icon" href="#" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Required css for production -->
    <link href="box/box.css" rel="stylesheet" type="text/css" /> <!-- Box Framework css include (contains a simple css for sections) -->
    <link href="assets/minimalist-blocks/content.css" rel="stylesheet" type="text/css" /> <!-- Snippets css include (contains a simple css for content blocks/snippets) -->
    <link href="assets/scripts/simplelightbox/simplelightbox.css" rel="stylesheet" type="text/css" /> <!-- Lightbox -->

    <script src="assets/axios.js"></script>
    <script src="assets/vue.js"></script>
    @if( Model != null && Model.Page != null)
    {
        @Html.Raw(string.IsNullOrEmpty(Model.Page.MainCSS) ? "" : Model.Page.MainCSS);
        @Html.Raw(string.IsNullOrEmpty(Model.Page.SectionCSS) ? "" : Model.Page.SectionCSS);
    }
</head>
<body>

    <div class="is-wrapper">

        @if (Model != null && Model.Page != null)
        {
            if (Model.Page.SideMenuId.HasValue)
            {
                <div class="bg-light border-right" id="sidebar-wrapper" w3-include-html="assets/@(Model.Page.SideMenuId.Value.ToString("D")).html"></div>
                <div id="page-content-wrapper" class="app">
                    @if (Model.Page.TopMenuId.HasValue)
                    {
                        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" w3-include-html="assets/@(Model.Page.TopMenuId.Value.ToString("D")).html"></nav>
                    }
                    <div class="container-fluid">
                        @(Html.Raw(Model != null && Model.Page != null ? Model.Page.Content : ""))
                    </div>
                </div>
            }
            else
            {
                @Html.Raw(Model != null && Model.Page != null ? Model.Page.Content : "");
            }
        }

    </div>

    <!-- Required js for production -->
    <script src="contentbuilder/jquery.min.js" type="text/javascript"></script>
    <script src="assets/scripts/simplelightbox/simple-lightbox.min.js" type="text/javascript"></script>

    <!-- Required js for production -->
    <script src="box/box.js" type="text/javascript"></script> <!-- Box Framework js include -->
    <script ifc="assets/cms.js"></script>

    @(Html.Raw(Model != null && Model.Page != null && string.IsNullOrEmpty(Model.Page.Scripts) == false ? Model.Page.Scripts : ""))
    @(Html.Raw(Model != null && Model.Setttings != null && string.IsNullOrEmpty(Model.Setttings.GoogleAnalitycs) == false ? Model.Setttings.GoogleAnalitycs : ""))
    @(Html.Raw(Model != null && Model.Setttings != null && string.IsNullOrEmpty(Model.Setttings.ShareIt) == false ? Model.Setttings.ShareIt : ""))

</body>
</html>